* {
    font-family: 'Poppins', sans-serif;
    -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    color: #797979;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    line-height: 1.6;
}
a {
    text-decoration: none !important;
}
.title-section {
    text-align: center;
}
.title-section h2 {
    color: #2cb5e8;
    font-weight: bold;
    margin-bottom: 50px;
}
/* ======== Loading ======== */
.loading{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #2cb5e8;
    z-index: 200;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.loading .loading-center{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
.loading .lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.loading .lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 26px solid #fff;
  border-color: #fff transparent #fff transparent;
  -webkit-animation: lds-hourglass 1.5s infinite;
          animation: lds-hourglass 1.5s infinite;
}
@-webkit-keyframes lds-hourglass {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
  }
}
@keyframes lds-hourglass {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
  }
}
/* ======================
                Header
        ====================== */
header {
    overflow: hidden;
    height: 100vh;
    background: url(../img/header.jpg) no-repeat top center;
    background-size: cover;
    position: relative;
}
/* ======== Overlay ======== */
header .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.8)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
}
/* ======== Gradient Overlay ======== */
header .overlay .gradient-overlay {
    width: 75%;
    background-image: -webkit-linear-gradient(310deg, rgba(255, 255, 255, 0.2) 0%, rgba(31, 200, 219, 0.4) 51%, rgba(44, 181, 232, 0.6) 75%);
    background-image: -o-linear-gradient(310deg, rgba(255, 255, 255, 0.2) 0%, rgba(31, 200, 219, 0.4) 51%, rgba(44, 181, 232, 0.6) 75%);
    background-image: linear-gradient(140deg, rgba(255, 255, 255, 0.2) 0%, rgba(31, 200, 219, 0.4) 51%, rgba(44, 181, 232, 0.6) 75%);
    height: 100%;
    -webkit-transform: skew(-25deg);
        -ms-transform: skew(-25deg);
            transform: skew(-25deg);
    position: absolute;
    top: 0;
    left: -20%;
}
header .overlay .gradient-overlay div {
    float: right;
    background-color: rgba(31, 200, 219, 0.4);
    height: 100%;
    width: 120px;
}
header .overlay .gradient-overlay div:nth-of-type(2) {
    background-color: rgba(44, 181, 232, 0.6);
}
/* ======== Navbar ======== */
header .overlay nav {
    z-index: 1;
    position: relative;
}
header .overlay nav .brand .logo {
    display: inline-block;
    margin-left: 4px;
}
header .overlay nav .brand .icon-toggle {
    float: right;
    cursor: pointer;
    margin-top: 14px;
    margin-right: 4px;
}
header .overlay nav .brand .icon-toggle .top,
header .overlay nav .brand .icon-toggle .center,
header .overlay nav .brand .icon-toggle .down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
header .overlay nav .brand .icon-toggle span {
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    margin: 1px;
}
/* ======== Box Of Header ======== */
header .overlay .box-of-header {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
header .overlay .box-of-header h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
header .overlay .box-of-header p {
    color: #e9ecef;
}
header .overlay .box-of-header ul {
    list-style: none;
}
header .overlay .box-of-header ul li {
    display: inline-block;
}
header .overlay .box-of-header ul li a {
    display: block;
    margin: 0 8px;
}
header .overlay .box-of-header ul li a i {
    color: #fff;
    font-size: 25px;
}
/* ======== Go To About ======== */
header .overlay .goto-about {
    position: absolute;
    bottom: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: 0.5s !important;
    -o-transition: 0.5s !important;
    transition: 0.5s !important;
}
header .overlay .goto-about a i {
    color: #fff;
    font-size: 40px;
}
header .overlay .goto-about:hover {
    bottom: 10px;
}
/* ======== Menu Navbar ======== */
header .menu {
    background-color: #2cb5e8;
    position: fixed;
    z-index: 99;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
}
header .menu.active {
    right: 0px;
    -webkit-box-shadow: 1px 0px 8px 8px #2cb5e8;
            box-shadow: 1px 0px 8px 8px #2cb5e8;
}
header .menu .exit {
    display: inline-block;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    cursor: pointer;
}
header .menu .exit .top,
header .menu .exit .down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
header .menu .exit .top div,
header .menu .exit .down div {
    width: 5px;
    height: 5px;
    background-color: #FFF;
    border-radius: 50%;
    margin: 2px;
    display: inline-block;
}
header .menu ul {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
}
header .menu ul li {
    margin: 8px 0;
}
header .menu ul li a {
    color: #fff;
    font-size: 15px;
}
header .menu ul li a.active {
    color: #111;
}
/* ======================
                About
        ====================== */
.about {
    overflow: hidden;
    padding: 80px 0;
}
.about .about-img {
    position: relative;
}
.about .about-img:after,
.about .about-img:before {
    content: '';
    position: absolute;
    border: 8px solid rgba(44, 181, 232, 0.4);
    width: 300px;
    height: 450px;
    top: 30px;
    left: 30px;
    z-index: 1;
}
.about .about-img:before {
    border: 4px solid rgba(44, 181, 232, 0.4);
    top: 15px;
    left: 15px;
}
.about .about-img img {
    position: relative;
    z-index: 2;
    -webkit-box-shadow: 0 12px 12px -12px rgba(0, 0, 0, .4), 0 12px 24px 0 rgba(0, 0, 0, .1);
            box-shadow: 0 12px 12px -12px rgba(0, 0, 0, .4), 0 12px 24px 0 rgba(0, 0, 0, .1);
}
.about .about-text h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #111;
}
.about .about-text p {
    margin-bottom: 20px;
    font-size: 16px;
}
.about .about-text .my-skills .skill {
    position: relative;
    margin: 40px 0;
}
.about .about-text .my-skills .skill .progress-bar {
    width: 100%;
    height: 5px;
    background-color: rgba(121, 121, 121, 0.3);
}
.about .about-text .my-skills .skill .progress-bar div {
    height: 100%;
    background-color: #2cb5e8;
}
.about .about-text .my-skills .skill span {
    position: absolute;
    top: -25px;
    color: #111;
    font-weight: bold;
    font-size: 14px;
}
.about .about-text .my-skills .skill span:last-of-type {
    right: 0;
}
.about .about-text .my-skills .click a {
    border: 2px solid #2cb5e8;
    padding: 15px 0px;
    width: 150px;
    display: inline-block;
    text-align: center;
    -webkit-transition: 0.5s !important;
    -o-transition: 0.5s !important;
    transition: 0.5s !important;
}
.about .about-text .my-skills .click a:first-of-type {
    background-color: #2cb5e8;
    color: #fff;
    margin-right: 25px;
}
.about .about-text .my-skills .click a:first-of-type:hover {
    background-color: #fff;
    color: #2cb5e8;
}
.about .about-text .my-skills .click a:last-of-type:hover {
    background-color: #2cb5e8;
    color: #fff;
}
/* ======================
                Services
        ====================== */
.services {
    overflow: hidden;
    padding: 80px 0;
    background-color: #f4f4f4;
}
.services .item {
    background-color: #fff;
    text-align: center;
    min-height: 250px;
    padding: 8px 20px 60px 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 12px 12px -12px rgba(0, 0, 0, .4), 0 12px 24px 0 rgba(0, 0, 0, .1);
            box-shadow: 0 12px 12px -12px rgba(0, 0, 0, .4), 0 12px 24px 0 rgba(0, 0, 0, .1);
}
.services .item:hover {
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
}
.services .item .icon {
    background-color: #f4f4f4;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 20px 0;
    border-radius: 50%;
    position: relative;
}
.services .item .icon i {
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 2
}
.services .item .icon span {
    position: absolute;
    background-color: #2cb5e8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0)
}
.services .item:hover .icon i {
    color: #fff
}
.services .item:hover .icon span {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1)
}
.services .item h4 {
    font-size: 18px;
    color: #2cb5e8;
    margin-bottom: 18px;
}
.services .item p {
    font-size: 14px;
}
/* ======================
                Portfolio
        ====================== */
.portfolio {
    overflow: hidden;
    padding: 80px 0;
    text-align: center;
}
.portfolio .portfolio-item {
    margin-bottom: 20px;
}
.portfolio .item-none {
    display: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.portfolio .portfolio-item a {
    background-color: #ccc;
}
.portfolio .portfolio-item a .portfolio-img {
    position: relative;
}
.portfolio .portfolio-item a .portfolio-img img {
    -webkit-box-shadow: 0 12px 12px -12px rgba(0, 0, 0, .4), 0 12px 24px 0 rgba(0, 0, 0, .1);
            box-shadow: 0 12px 12px -12px rgba(0, 0, 0, .4), 0 12px 24px 0 rgba(0, 0, 0, .1);
}
.portfolio .portfolio-item a .portfolio-img .text-box {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 181, 232, 0.5);
    top: 0;
    left: 0;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
}
.portfolio .portfolio-item a .portfolio-img .text-box p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: 0;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}
.portfolio .portfolio-item a:hover .text-box {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}
.portfolio button.more-item {
    border: 2px solid #2cb5e8;
    padding: 15px 30px;
    background-color: #fff;
    color: #2cb5e8;
    cursor: pointer;
    margin: 25px 0;
    -webkit-transition: 0.5s !important;
    -o-transition: 0.5s !important;
    transition: 0.5s !important;
}
.portfolio button.more-item:hover {
    background-color: #2cb5e8;
    color: #fff;
}
/* ======================
                Testimonials
        ====================== */
.testimonials {
    overflow: hidden;
    padding: 80px 0;
    background-color: #f4f4f4;
}
.testimonials .item .box {
    width: 450px;
    background-color: #fff;
    padding: 25px 15px;
    border-radius: 5px;
    -webkit-box-shadow: 0 12px 12px -12px rgba(0, 0, 0, .4), 0 12px 24px 0 rgba(0, 0, 0, .1);
            box-shadow: 0 12px 12px -12px rgba(0, 0, 0, .4), 0 12px 24px 0 rgba(0, 0, 0, .1);
    margin: 20px auto 50px auto;
    position: relative;
}
.testimonials .item .box p {
    font-size: 14px;
    margin-bottom: 25px;
    position: relative;
    z-index: 2;
}
.testimonials .item .box .info {
    display: inline-block;
    position: relative;
}
.testimonials .item .box .info img {
    border-radius: 50%;

}
.testimonials .item .box .info span {
    position: absolute;
    left: 80px;
    top: 15px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: #111;
    font-size: 15px;
    font-weight: bold;
}
.testimonials .item .box .info span:last-of-type {
    top: 35px;
    font-size: 14px;
    font-weight: inherit;
    color: #adb5bd;
}
.testimonials .item .box i:first-of-type {
    position: absolute;
    bottom: 25px;
    right: 50px;
    font-size: 60px;
    color: rgba(222, 226, 230, 0.5);
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}
.testimonials .item .box i:last-of-type {
    position: absolute;
    top: 0px;
    left: 25px;
    font-size: 80px;
    color: rgba(222, 226, 230, 0.5);
    z-index: 1;
}
.testimonials .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #2cb5e8;
}
/* ======================
                Contact
        ====================== */
.contact {
    overflow: hidden;
    padding: 80px 0;
}
.contact form input,
.contact form textarea {
    width: 100%;
    padding: 10px 5px;
    outline: inherit;
    margin-bottom: 20px;
    border: 1px solid #c9c9c9;
}
.contact form input::-webkit-input-placeholder,
.contact form textarea::-webkit-input-placeholder {
    color: #c9c9c9;
}
.contact form input:-ms-input-placeholder,
.contact form textarea:-ms-input-placeholder {
    color: #c9c9c9;
}
.contact form input::-ms-input-placeholder,
.contact form textarea::-ms-input-placeholder {
    color: #c9c9c9;
}
.contact form input::placeholder,
.contact form textarea::placeholder {
    color: #c9c9c9;
}
.contact form textarea {
    height: 180px;
}
.contact form button {
    border: 1px solid #2cb5e8;
    padding: 15px 30px;
    background-color: #fff;
    color: #2cb5e8;
    cursor: pointer;
    margin: 25px 0;
    -webkit-transition: 0.5s !important;
    -o-transition: 0.5s !important;
    transition: 0.5s !important;
}
.contact form button:hover {
    background: #2cb5e8;
    color: #fff;
}
.contact .item {
    margin-bottom: 35px;
}
.contact .item div {
    display: inline-block;
}
.contact .item div:first-of-type {
    width: 40px;
    text-align: center;
}
.contact .item div i {
    font-size: 35px;
    color: #2cb5e8;
}
.contact .item:first-of-type div i {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}
.contact .item div p:first-of-type {
    margin-bottom: 0;
    color: #111;
    font-size: 16px;
    font-weight: bold;
    margin-left: 8px;

}
.contact .item div p:last-of-type {
    margin-bottom: 0;
    margin-left: 8px;
    font-size: 14px
}
/* ======================
                Footer
        ====================== */
.footer {
    overflow: hidden;
    padding: 80px 0;
    background-color: #2cb5e8;
    text-align: center;
}
.footer .top {
    margin-bottom: 25px;
}
.footer .center ul {
    margin: 0;
    list-style: none;
    margin-bottom: 25px;
}
.footer .center ul li {
    display: inline-block;
    margin: 0 5px;
}
.footer .center ul li a {
    width: 40px;
    height: 40px;
    display: block;
    background-color: rgba(17, 17, 17, 0.7);
    position: relative;
    border-radius: 50%;
}
.footer .center ul li:hover a {
    background-color: #fff;
}
.footer .center ul li a i {
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #fff;
}
.footer .center ul li:hover a i {
    color: #2cb5e8;
}
.footer .bottom p {
    margin-bottom: 0;
    color: #fff;
}
/* ======== Go To Top ======== */
.go-to-top {
    background-color: #111;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 90;
    text-align: center;
    line-height: 45px;
    overflow: hidden;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    display: none;
}
.go-to-top a i {
    color: #2cb5e8;
    font-size: 25px;
}