@media (max-width: 991px) {

    .about .about-img:after,
    .about .about-img:before {
        width: 265px;
        height: 400px;
    }
    .contact .item div {
    display: block;
}
}

@media (max-width: 768px) {
    .navbarsite .box .brand-logo {
        float: none;
        width: 100%;
    }

    .navbarsite .box .brand-logo .menu {
        display: block;
        float: right;
        padding: 14px 0 14px 0;
    }

    .navbarsite .box .brand-logo .menu i {
        font-size: 30px;
        cursor: pointer;
    }

    .navbarsite .box .brand-logo .menu i.active {
        color: #FF3356;
    }

    .navbarsite .box .links {
        float: none;
        display: none;
    }

    .navbarsite .box .links.active {
        display: block;
    }

    .navbarsite .box .links.active ul {
        background-color: #fff;
        padding: 8px 15px;
    }

    .navbarsite .box .links.active ul li {
        display: block;
    }

    header .overlay .gradient-overlay {
        width: 100%;
        left: -60%;
    }

    header .overlay .box-of-header {
        width: 80%;
    }

    .about .about-img {
        width: 300px;
        margin: 0 auto 50px auto;
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }

    .about .about-img:after,
    .about .about-img:before {
        width: 300px;
        height: 450px;
    }

    .contact form button {
        width: 100%;
        padding: 15px 0;
    }

    .contact .item {
        margin: 18px 5px;
    }
}

@media (max-width: 575px) {
    header .menu {
        width: 100%;
    }

    .about .about-text .my-skills .click {
        text-align: center;
    }

    .about .about-text .my-skills .click a {
        display: block;
        width: 100%;
    }

    .about .about-text .my-skills .click a:first-of-type {
        margin-bottom: 25px;
        margin-right: auto;
    }

    .testimonials .item .box {
        width: 90%;
    }

    .go-to-top {
        bottom: 20px;
        right: 20px;
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@media (max-width: 350px) {
    .about .about-img {
        width: auto;
    }

    .about .about-img:after,
    .about .about-img:before {
        display: none;
    }
}